<% provide(:title, "Show infomation")%>
<div class="col-md-12">
  <div class="main_title">
  <h1>Show infomation</h1>
  <p><%= gravatar_for @user %></p>
  <p>Name: <%= @user.name %></p>
  <p>Email: <%= @user.email %></p>
  <p>Created at: <%= @user.created_at %></p>
  <p>Updated at: <%= @user.updated_at %></p>
</div>

</div>